@import '~antd/dist/antd.css';
.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-container {
    box-sizing: border-box;
    /* background: url('https://source.unsplash.com/W1B2LpQOBxA/1440x900') center no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif
}

.login-container .login-alert {
    text-align: center;
    position: fixed;
    top: 10%;
}

.login-container .card-header {
    text-align: center;
}

.login-container .card-container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    border: white;
}

.ant-message-success {
    color: green !important;
}

.ant-message-error {
    color: red !important;
}