@import '~antd/dist/antd.css';

/* .App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.register-container {
    box-sizing: border-box;
    /* background: url('https://source.unsplash.com/W1B2LpQOBxA/1440x900') center no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif
}

.card-header {
    text-align: center;
}

.card-container {
    background-color: rgba(255, 255, 255, 0.97);
    border: white;
}