.register-container {
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.register-left {
    width: 60%;
    /* display: none; */
}

.register-right {
    width: 40%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-spin-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ant-carousel .slick-slide {
    /* text-align: center; */
    height: 100vh;
    /* line-height: 160px; */
    /* background: #364d79; */
    /* overflow: hidden; */
}

.ant-carousel .slick-slide h1 {
    color: black;
}

.slide1 {
    background: url('https://source.unsplash.com/qgHGDbbSNm8/1920x1200') center no-repeat;
    background-size: auto 100%;
}

.slide2 {
    background: url('https://source.unsplash.com/nMjej3Q3yac/1920x1200') center no-repeat;
    background-size: auto 100%;
}

.slide3 {
    background: url('https://source.unsplash.com/eVQBXxeCre4/1920x1200') center no-repeat;
    background-size: auto 100%;
}

.register-form-container {
    min-height: calc(100vh - 72px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif
}

.register-form-container .card-container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.97);
    border: white;
}

.register-form-button {
    width: 100%;
}

/* Media Queries for tablets */

@media (max-width: 767px) {
    .register-left {
        display: none;
    }
    .register-right {
        width: 100%;
    }
}