.steps-content {
    /* margin-top: 16px; */
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fafafa;
    min-height: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.step-first {
    width: 500px;
    min-width: 70%;
}

.steps-action {
    margin-top: 24px;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
}

.button-next {
    display: block;
    float: right;
    padding-right: 24px;
    padding-bottom: 24px;
}

.button-previous {
    display: block;
    padding-left: 24px;
    padding-bottom: 24px;
}

.welcome-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-card {
    width: 700px;
    min-width: 55%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.ant-card-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background: #1890ff;
}

.ant-card-body {
    padding: 0px;
}

.welcome-icon-container {
    display: block;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    /* font-size: 22px; */
    /* width: 34px;
    height: 34px; */
    font-size: 18px;
    width: 30px;
    height: 30px;
    /* line-height: 36px; */
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #1890ff;
    -webkit-transition: background ease 400ms, color ease 400ms;
    -moz-transition: background ease 400ms, color ease 400ms;
    transition: background ease 400ms, color ease 400ms;
}

/* Styling for text in card head and steps' titles */

.ant-card-head-title h2 {
    color: white;
}

.ant-steps-item-process>.ant-steps-item-content>.ant-steps-item-title {
    color: white;
}

.ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title {
    color: white;
}

.ant-steps-item-wait>.ant-steps-item-content>.ant-steps-item-title {
    color: white;
}

/* Styling for Icon & Icon container when steps-item-wait */

.ant-steps-item-wait .welcome-icon-container {
    background: rgba(0, 0, 0, 0.15);
    color: white;
}

/* Styling for steps: horizontal line on desktop */

.ant-steps-item-process .ant-steps-item-title:after {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.ant-steps-item-wait .ant-steps-item-title:after {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.ant-steps-item-finish .ant-steps-item-title:after {
    background-color: white !important;
}

.ant-steps-item-title:after {
    -webkit-transition: background ease 400ms, color ease 400ms;
    -moz-transition: background ease 400ms, color ease 400ms;
    transition: background ease 400ms, color ease 400ms;
}

/* Styling for steps: vertical line on mobile */

.ant-steps-item-wait>.ant-steps-item-tail:after {
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 3px;
}

.ant-steps-item-process>.ant-steps-item-tail:after {
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 3px;
}

.ant-steps-item-finish>.ant-steps-item-tail:after {
    background-color: white;
    margin-left: 3px;
}

.ant-steps-item-tail:after {
    -webkit-transition: background ease 400ms, color ease 400ms;
    -moz-transition: background ease 400ms, color ease 400ms;
    transition: background ease 400ms, color ease 400ms;
}

/* Align the header content of steps */

.ant-steps-item-content {
    padding-top: 3px;
    vertical-align: middle;
}

.welcome-left-container {
    width: 350px;
    min-width: 40%;
}

/* Grow Zone Result Text */

.growzone-text {
    height: 20px;
}

.growzone-text h4 {
    color: #52c41a;
}

/* Media Queries for tablets */

@media (max-width: 767px) {
    .steps-content {
        min-height: 280px;
    }
    .welcome-card {
        min-height: 80vh;
        border: white;
    }
    .ant-card-head {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .welcome-card {
        min-height: 100vh;
    }
}